html {
  font-size: 0.625em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button,
input[type=submit] {
  background-color: #2acfcf;
  border: 0.1rem solid #2acfcf;
  cursor: pointer;
  transition: 0.5s;
}
button:hover,
input[type=submit]:hover {
  background-color: #50dcdc;
  border: 0.1rem solid #50dcdc;
}

@font-face {
  font-family: poppinsMedium;
  src: url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: poppinsBold;
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
}
* {
  font-family: poppinsMedium, sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: poppinsBold, sans-serif;
}

h1.hero-text-header {
  font-size: 9rem;
  line-height: 9rem;
}

p {
  color: #6a6666;
}

button,
input[type=submit] {
  color: #f1fffa;
}
button:hover,
input[type=submit]:hover {
  color: #beffe8;
}

nav span:hover {
  color: #2acfcf;
}

.point-text-header {
  font-size: 2rem;
}

.boost h2,
.footer h2,
.footer h3 {
  color: #f1fffa;
}

h2.boost-header,
.info-section-header {
  font-size: 3rem;
}

.footer p:hover {
  color: #2acfcf;
}

.footer h2 {
  font-size: 5rem;
}

@media only screen and (max-width: 42rem) {
  h1.hero-text-header {
    font-size: 5rem;
    line-height: 5rem;
  }
}
body {
  padding: 0 6rem;
  background-color: #f1fffa;
}

@media screen and (max-width: 76.8rem) {
  body {
    padding: 3rem 0;
  }
}
.nav {
  position: fixed;
  top: 0;
  width: calc(100vw - 12rem);
  height: 5vh;
  padding: 1rem 0;
  background-color: #f1fffa;
  z-index: 3;
}

.navi {
  display: flex;
  justify-content: flex-end;
  position: relative;
  animation: navi 0.5s ease backwards;
}

.nav-logo {
  position: absolute;
  left: 0;
}

.navi-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  overflow: hidden;
}

nav span {
  transition: 0.25s;
}

.nav-user-signup {
  padding: 0.3rem;
  text-align: center;
  width: 10rem;
  border-radius: 5rem;
}

.hamburger-wrapper {
  width: 3rem;
  overflow: hidden;
  display: none;
}
.hamburger-wrapper > .hamburger {
  width: 1.5rem;
  height: 0.8rem;
  border: 0.25rem solid #000000;
  margin: 0.1rem 0;
}

@media only screen and (max-width: 76.8rem) {
  .nav {
    width: 100vw;
    padding: 2rem 0;
  }
  .nav-logo {
    position: fixed;
    top: 0.3rem;
    left: 1rem;
    margin-left: 0;
  }
  .navi-element {
    flex-direction: column;
    background-color: #ffc1eb;
    transform: translate(-0.5rem, -20rem);
    gap: 0.5rem;
    padding: 1rem;
    transition: 1s;
    width: 80%;
  }
  .nav-info-resources {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #6a6666;
  }
  .hamburger-wrapper {
    display: block;
    position: fixed;
    top: 0.3rem;
    right: 0.2rem;
  }
  .hamburger-wrapper > .hamburger {
    transition: 1s;
  }
}
.whitespace-nav {
  height: 6vh;
}

@keyframes navi {
  from {
    height: 0;
  }
  to {
    height: 5vh;
  }
}
.hero {
  display: flex;
  gap: 1rem;
  padding-bottom: 10rem;
}

.hero-svg {
  flex-basis: 50%;
  opacity: 0;
  animation: hero-svg 0.5s ease forwards 0.5s;
}

.hero-text {
  display: grid;
  justify-content: left;
  align-content: center;
  opacity: 0;
  animation: hero-text 0.5s ease forwards 1s;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5rem;
}

.hero-btn {
  width: 12rem;
  padding: 0.5rem;
  border-radius: 9rem;
}

@media only screen and (max-width: 76.8rem) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-text {
    align-self: center;
    place-items: center;
  }
  .hero-text-wrapper {
    text-align: center;
  }
  .hero-btn {
    align-self: center;
  }
}
@keyframes hero-svg {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hero-text {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.info-section {
  background-color: #d8fff1;
  position: relative;
  padding-bottom: 10rem;
}

.form-container {
  width: calc(90vw - 12rem);
  height: 10rem;
  background-color: #f0fff9;
  background-image: radial-gradient(at 7% 11%, #6fc8c2 0px, transparent 50%), radial-gradient(at 87% 12%, #ffc2ec 0px, transparent 50%), radial-gradient(at 86% 100%, #fb7474 0px, transparent 50%), radial-gradient(at 9% 86%, #c8baf8 0px, transparent 50%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -5rem);
  display: grid;
  place-items: center;
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.25s ease;
}

.whitespace-form {
  height: 10rem;
}

.form-control {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  display: flex;
  gap: 1rem;
}

.form-control > input {
  border-radius: 1rem;
  padding: 0 1.5rem;
}

.form-control > input:not([type=submit]) {
  border: 0.3rem solid #f4f4f4;
  background-color: #f4f4f4;
}
.form-control > input:not([type=submit]):focus {
  border: none;
  outline: 0.3rem solid #2acfcf;
  background-color: #fff;
  transition: 0.25s ease;
}

.form-control > input[type=text]#form-link {
  flex-basis: 55%;
}

.form-control > input[type=text]#form-name {
  flex-basis: 30%;
}

.form-control > input[type=submit] {
  flex-basis: 15%;
}

.error-message {
  color: #dc3636;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-style: italic;
}

.data-display-wrapper {
  display: grid;
  place-items: center;
  position: relative;
}
.data-display-wrapper a {
  color: #2acfcf;
}
.data-display-wrapper button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.data-display {
  background-color: #f1fffa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(90vw - 12rem);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.link-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
}

.info-section-intro {
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 10rem;
}

.info-section-intro > div {
  width: 80%;
  max-width: 50rem;
}

.info-section-header {
  margin-bottom: 1rem;
}

.bullets {
  display: grid;
  place-items: center;
  position: relative;
}

.info-section-bullets {
  display: flex;
  width: calc(90vw - 12rem);
  gap: 5rem;
}
.info-section-bullets::before {
  content: "";
  height: 1rem;
  width: 80%;
  background-color: #2acfcf;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.info-section-bullet {
  background-color: #f1fffa;
  z-index: 2;
}

.info-section-point {
  position: relative;
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  height: 100%;
}

.point-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rebeccapurple;
  display: grid;
  place-items: center;
  position: absolute;
  top: -2.5rem;
  left: 2rem;
}

.point-icon svg {
  width: 2.2rem;
  height: 2.2rem;
}

.point-icon path {
  fill: #2acfcf;
}

.point-text-header {
  margin-bottom: 1rem;
}

/* Tablet media Query*/
@media only screen and (max-width: 76.8rem) {
  .form-container {
    height: 15rem;
    transform: translate(-50%, -7.5rem);
  }
  .whitespace-form {
    height: 11rem;
  }
  .form-control {
    flex-wrap: wrap;
  }
  .form-control > input[type=text]#form-link {
    flex-basis: 100%;
    order: -1;
  }
  .form-control > input[type=text]#form-name {
    flex-basis: 70%;
  }
  .form-control > input[type=submit] {
    flex-basis: 25%;
  }
  .data-display {
    flex-direction: column;
    align-items: flex-start;
  }
  .link-copy {
    justify-content: space-between;
    width: 100%;
  }
  .info-section-bullets {
    flex-wrap: wrap;
    outline: 1rem solid #2acfcf;
    outline-offset: -5rem;
    justify-content: space-between;
  }
  .info-section-bullets::before {
    display: none;
  }
  .info-section-bullet {
    flex-basis: 45%;
  }
}
/* Mobile media Query*/
@media only screen and (max-width: 42rem) {
  .form-container {
    height: 18rem;
    transform: translate(-50%, -9rem);
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .whitespace-form {
    height: 11rem;
  }
  .form-control {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-control > input {
    width: 100%;
    border-radius: 0.5rem;
  }
  .form-control > input[type=text]#form-link {
    flex-basis: 100%;
  }
  .form-control > input[type=text]#form-name {
    flex-basis: 100%;
  }
  .form-control > input[type=submit] {
    flex-basis: 100%;
  }
  .link-copy {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .link-copy a {
    margin: 0.5rem 0;
  }
  .link-copy .responseBtn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .link-copy .responseBtn-wrapper button {
    width: 48%;
  }
  .info-section-bullets {
    outline: 0;
  }
  .info-section-bullets::before {
    display: block;
    height: 80%;
    width: 1rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .info-section-bullet {
    flex-basis: 100%;
  }
  .point-icon {
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.boost-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 5rem;
  background-color: #f0fff9;
  background-image: radial-gradient(at 7% 11%, #6fc8c2 0px, transparent 50%), radial-gradient(at 87% 12%, #ffc2ec 0px, transparent 50%), radial-gradient(at 86% 100%, #fb7474 0px, transparent 50%), radial-gradient(at 9% 86%, #c8baf8 0px, transparent 50%);
  width: calc(100vw - 1.65rem);
  position: relative;
  right: 6rem;
}

.boost-btn {
  padding: 0.7rem;
  border-radius: 5rem;
  margin-top: 2rem;
  width: 14rem;
}

@media only screen and (max-width: 76.8rem) {
  .boost-container {
    width: 100vw;
    right: 0;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  gap: 5rem;
  background-color: #232027;
  width: calc(100vw - 1.65rem);
  position: relative;
  right: 6rem;
}
.footer p {
  transition: 0.25s;
}

.footer h3:not(.socalhead) {
  margin-bottom: 1rem;
}

.footer-logo {
  flex-basis: 20%;
}

.footer-points {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
}

.footer-socials {
  flex-basis: 20%;
  text-align: center;
}

.social-apps {
  display: grid;
  grid-template: 3 1fr/2 1fr;
  place-items: center;
  row-gap: 2rem;
}

.social-apps > a:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}

.social-apps > a:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}

.social-apps > a:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.social-apps > a:nth-child(4) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.social-apps > a:nth-child(5) {
  grid-row: 2/3;
  grid-column: 2/3;
}

.social-apps > a:nth-child(6) {
  grid-row: 3/4;
  grid-column: 2/3;
}

.social-app {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: transparent;
  display: grid;
  place-items: center;
  outline: 0.3rem solid #6a6666;
  transition: 0.25s;
}
.social-app > svg {
  width: 2rem;
  height: 2rem;
}
.social-app path {
  fill: #6a6666;
}
.social-app:hover {
  outline-offset: 0.3rem;
}
.social-app:hover > svg {
  animation: shake 0.5s;
}
.social-app:hover path {
  fill: #f1fffa;
}

.twitter:hover {
  background-color: #1d9bf1;
  outline-color: #1d9bf1;
}

.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d75;
}

.reddit:hover {
  background: linear-gradient(45deg, #fc0d0b, #f5ad00);
  outline-color: #f96106;
}

.github:hover {
  background: linear-gradient(to top, #080607, #1c1d21);
  outline-color: #1c1d21;
}

.stackoverflow:hover {
  background: linear-gradient(135deg, #f38023, #f8964d);
  outline-color: #f38023;
}

.linkedin:hover {
  background-color: #0b65c3;
  outline-color: #0b65c3;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
@media only screen and (max-width: 76.8rem) {
  .footer {
    width: 100vw;
    right: 0;
    flex-wrap: wrap;
  }
  .footer-socials {
    flex-basis: 30%;
  }
}
@media only screen and (max-width: 42rem) {
  .footer-logo,
.footer-points,
.footer-socials {
    flex-basis: 100%;
  }
  .footer-points {
    flex-direction: column;
    gap: 2rem;
  }
  .footer-logo,
.footer-points--features,
.footer-points--resources,
.footer-points--company {
    display: grid;
    place-items: center;
  }
}/*# sourceMappingURL=styles.css.map */