@use "../1-Helpers/helpers" as *;

.hero {
  display: flex;
  gap: 1rem;
  padding-bottom: 10rem;
}
.hero-svg {
  flex-basis: 50%;
  opacity: 0;
  animation: hero-svg 0.5s ease forwards 0.5s;
}
.hero-text {
  display: grid;
  justify-content: left;
  align-content: center;
  opacity: 0;
  animation: hero-text 0.5s ease forwards 1s;
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5rem;
}
.hero-btn {
  width: 12rem;
  padding: 0.5rem;
  border-radius: 9rem;
}
@media only screen and (max-width: $tablet) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-text {
    align-self: center;
    place-items: center;
  }
  .hero-text-wrapper {
    text-align: center;
  }
  .hero-btn {
    align-self: center;
  }
}
@keyframes hero-svg {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hero-text {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
