@use "../1-Helpers/helpers" as *;

@font-face {
  font-family: poppinsMedium;
  src: url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: poppinsBold;
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

* {
  font-family: $poppinsMed;
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-family: $poppinsBold;
}
h1.hero-text-header {
  font-size: 9rem;
  line-height: 9rem;
}
p {
  color: $graniteGray;
}

button,
input[type="submit"] {
  color: $mintCream;
  &:hover {
    color: darken($mintCream, 10%);
  }
}
nav span:hover {
  color: $cyan;
}
.point-text-header {
  font-size: 2rem;
}
.boost h2,
.footer h2,
.footer h3 {
  color: $mintCream;
}
h2.boost-header,
.info-section-header {
  font-size: 3rem;
}
.footer p:hover {
  color: $cyan;
}
.footer h2 {
  font-size: 5rem;
}
@media only screen and (max-width: $mobile) {
  h1.hero-text-header {
    font-size: 5rem;
    line-height: 5rem;
  }
}
